<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-device-utility" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>DeviceUtility</name><js-module name="DeviceUtility" src="www/DeviceUtility.js"><clobbers target="cordova.plugins.DeviceUtility" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="DeviceUtility"><param name="android-package" value="cordova-plugin-device-utility.DeviceUtility" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/DeviceUtility.java" target-dir="src/cordova-plugin-device-utility/DeviceUtility" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="DeviceUtility"><param name="ios-package" value="DeviceUtility" /></feature></config-file><source-file src="src/ios/DeviceUtility.m" /></platform></plugin>
